<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://down.wss.show/c5sb5hx/d/6q/d6qec5sb5hx?cdn_sign=1705627989-73-0-de3aaf26d1747aeed29e2cb8644857f4&exp=1200&response-content-disposition=attachment%3B%20filename%3D%22IWAiGreen.ipa%22%3B%20filename%2A%3Dutf-8%27%27IWAiGreen.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://github.com/ChiconyPowerIstiOS/iOSAdhoc/raw/master/57x57icon.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://github.com/ChiconyPowerIstiOS/iOSAdhoc/raw/master/512x512icon.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.ChiconyPower.iGreen</string>
				<key>bundle-version</key>
				<string>V1.0.0.20180629</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>SpaceCycle綠智匯</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
